//General Styles

@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

#root {
  font-family: "Open Sans", system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  overflow-x: initial;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  &-details {
    padding-left: 24px;
    padding-right: 24px;
  }
  @media screen and (max-width: 767px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
